<h1>New restaurant</h1>
<%= simple_form_for [@restaurant] do |form| %>
  <%= form.error_notification %>

  <%= form.input :name, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
  <%= form.input :address, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
  <%= form.input :phone_number, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
  <%= form.input :category, label_html: { class: 'form-label' }, input_html: { class: 'form-select' }, collection: %w[chinese italian japanese french belgian], include_blank: false %>

  <%= form.button :submit, class: 'btn btn-primary' %>
<% end %>
